<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/static/css/navbarLinks.css" rel="stylesheet">
    <link href="/static/css/responsiveTabelle.css" rel="stylesheet">
    <link href="/static/css/responsiveFormular.css" rel="stylesheet">
    <script src="/static/js/navbarCollapse.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/R.jpg">
</head>

<body>

<div th:insert="~{navbar :: navbar}"></div>

<h2>Zur Wohngruppe einen Mitarbeiter hinzufügen </h2>

</body>

</html>




