<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>


<div th:fragment="fragment" th:remove="tag">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="/static/css/navbarLinks.css" rel="stylesheet">
    <link href="/static/css/responsiveTabelle.css" rel="stylesheet">
    <link href="/static/css/responsiveFormular.css" rel="stylesheet">
    <link href="/static/css/elements.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="/static/js/navbarCollapse.js"></script>
    <script src="/static/js/functions.js"></script>

    <link rel="shortcut icon" type="image/x-icon" href="/static/images/shortcuticon.jpg">

</div>
</body>
</html>