<!DOCTYPE html>
<html ang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{head :: fragment}"></div>
    <title>Mitarbeiter - Wohngruppe Zuordnungen anzeigen</title>
</head>

<body>
<div th:insert="~{navbar :: navbar}"></div>
<div class="title-page">
    <h1 style="margin-left:2%" >Liste aller aktiven Mitarbeiter - Wohngruppen Zuordnungen  <i class="fa fa-user"></i> <i class="fa fa-home"></i></h1>
</div>
<div class="respTab">
    <table class="table" id="listMitarbeiterDetailTabelle">
        <thead class="thead-dark">
        <tr>
            <th style="width:5%">MADt-Nr</th>
            <th>MA Vorname</th>
            <th>MA Nachname</th>
            <th>EinsatzBeginn</th>
            <th>EinsatzEnde</th>
            <th>MA Wohngruppe</th>
<!--            <th>Dok-Text</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:if="${listmitarbeiterDetail.isEmpty()}">
            <td colspan="4"> keine Mitarbeiter-Wohngruppe Zuordnungen vorhanden</td>
        </tr>
        <tr th:each="mitarbeiterdetail :${listmitarbeiterDetail}">
<!--            th:classappend="${.dokumentationtyp == 'Eskalation'} ? 'red-border'">-->
            <td th:text="${mitarbeiterdetail.mitarbeiterDetailId}"></td>
<!--            <td th:text="${dokumentation.dokumentationdatum}"></td>-->
<!--            <td th:text="${mitarbeiterdetail.mitarbeiter}"></td>-->
            <td th:text="${mitarbeiterdetail.mitarbeiterDetailMitarbeiter.vorname}"></td>
            <td th:text="${mitarbeiterdetail.mitarbeiterDetailMitarbeiter.nachname}"></td>

            <td th:text="${#temporals.format(mitarbeiterdetail.einsatzBeginn, 'dd.MM.yyyy')}"></td>
            <td th:text="${#temporals.format(mitarbeiterdetail.einsatzEnde, 'dd.MM.yyyy')}"></td>

            <td>
                <div th:each="wohngruppe : ${mitarbeiterdetail.mitarbeiterDetailWohngruppe}">
                    <span th:text="${wohngruppe.wohngruppenName}"></span>
                </div>
            </td>

            <td th:text="${mitarbeiterdetail.aktiv}"></td>
            <td>
                <a class="linkButton" th:href="@{'/mitarbeiterdetail/editmitarbeiterdetail/' + ${mitarbeiterdetail.mitarbeiterDetailId}}">
                    <span>&Auml;ndern</span><i style="color: green;" class="fa fa-edit"></i></a>
            </td>
        </tr>

        </tbody>
    </table>
</div>
<br>
<br>
<div style="margin-left: 20px ">
    <a class="backButton" onclick="history.back()"> <i style="margin: inherit"  class="fa fa-backward"></i>
        <span style="margin: 2px 2px 1px 5px;">Zurück</span></a>
</div>
<br>
<br>
</body>
</html>
